parameters:
	ignoreErrors:
		-
			message: "#^Method Squirrel\\\\Strings\\\\Attribute\\\\StringFilterProcessor\\:\\:getFromAttribute\\(\\) should return Squirrel\\\\Strings\\\\Attribute\\\\StringFilter\\|null but returns object\\.$#"
			count: 1
			path: src/Attribute/StringFilterProcessor.php

