includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
    checkMissingIterableValueType: false
    excludePaths:
        - src/Filter/NormalizeLettersToAsciiFilter.php