parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$form of static method Normalizer\\:\\:normalize\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/Filter/NormalizeLettersToAsciiFilter.php

