includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    checkMissingIterableValueType: false
    excludes_analyse:
        - src/Filter/NormalizeLettersToAsciiFilter.php